<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vCOMpy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <a id="sensor-readout" name="sensor"></a>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script>
        var vcompy = function(){} || null
        vcompy.ux = function(){} || null
        vcompy.gps = function(){} || null

        vcompy.diagnistics = {
            engine: {
                temp: 0,
                rpm: 0,
                speed: 0
            },
            env: {
                ambientTemp: 0
            }
        }

        

        setInterval(function() {
            fetch('/sensors')
            .then(function(response) {
                return response.text();
            }).then(function(data) {
                vcompy.update(JSON.parse(data));
            })
            }, 3000);

        vcompy.update = function(data) {
            var d = vcompy.diagnistics;
                d.engine.temp = data.engine.temperature;
                d.engine.rpm = data.engine.rpm;
                d.engine.speed = data.engine.speed;
                d.env.ambientTemp = data.environment.ambient_temperature;
                
                console.log(data);
                var readout = document.getElementById("sensor-readout");
                readout.innerHTML = JSON.stringify(data);
                
                
        }

        vcompy.ux.createNode = function(element) {
            return document.createElement(element); // Create the type of element you pass in the parameters
        }

        vcompy.ux.appendElement = function(parent, el) {
        return parent.appendChild(el); // Append the second parameter(element) to the first one
        }
        
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>